@model ContactViewModel
@{
    ViewData["Title"] = "Contact";
}

<h2 class="text-center">@ViewData["Title"]</h2>


@using(Html.BeginForm("ContactSave", "Home"))
{
    @Html.ValidationSummary(true, "Please fix following errors.")
    @Html.AntiForgeryToken()

    <div class="row">
        <div class="col-sm-6 offset-md-3">
            <div class="card card-body">

                <div class="form-group">
                    @Html.LabelFor(x => x.Name)
                    @Html.TextBoxFor(x => x.Name, new { @class="form-control"})
                    @Html.ValidationMessageFor(x => x.Name)
                </div>

                 <div class="form-group">
                    @Html.LabelFor(x => x.Email)
                    @Html.TextBoxFor(x => x.Email, new { @class="form-control"})
                    @Html.ValidationMessageFor(x => x.Email)
                </div>

                 <div class="form-group">
                    @Html.LabelFor(x => x.Subject)
                    @Html.TextBoxFor(x => x.Subject, new { @class="form-control"})
                    @Html.ValidationMessageFor(x => x.Subject)
                </div>

                 <div class="form-group">
                    @Html.LabelFor(x => x.Message)
                    @Html.TextAreaFor(x => x.Message, new { @class="form-control"})
                    @Html.ValidationMessageFor(x => x.Message)
                </div>
                <br> 
                <div class="form-group">
                    <button class="btn btn-primary" type="submit" value="Send Message">Send Message</button>
                    <div>@ViewData["UserMessage"]</div>
                </div>
            </div>
        </div>
    </div>

}        